@font-face {
	font-family: 'OpenSansLight';
	src: url("../fonts/OpenSans-Light-webfont.eot");
	src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Light-webfont.svg#OpenSansLight") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSansLightItalic';
	src: url("../fonts/OpenSans-LightItalic-webfont.eot");
	src: url("../fonts/OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-LightItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-LightItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSansRegular';
	src: url("../fonts/OpenSans-Regular-webfont.eot");
	src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg");
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
}

@font-face {
	font-family: 'OpenSansItalic';
	src: url("../fonts/OpenSans-Italic-webfont.eot");
	src: url("../fonts/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Italic-webfont.woff") format("woff"), url("../fonts/OpenSans-Italic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Italic-webfont.svg#OpenSansItalic") format("svg");
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
}

@font-face {
	font-family: 'OpenSansSemibold';
	src: url("../fonts/OpenSans-Semibold-webfont.eot");
	src: url("../fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold-webfont.woff") format("woff"), url("../fonts/OpenSans-Semibold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold") format("svg");
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
}

@font-face {
	font-family: 'OpenSansSemiboldItalic';
	src: url("../fonts/OpenSans-SemiboldItalic-webfont.eot");
	src: url("../fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiboldItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-SemiboldItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic") format("svg");
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
}

@font-face {
	font-family: 'OpenSansBold';
	src: url("../fonts/OpenSans-Bold-webfont.eot");
	src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Bold-webfont.svg#OpenSansBold") format("svg");
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
}

@font-face {
	font-family: 'OpenSansBoldItalic';
	src: url("../fonts/OpenSans-BoldItalic-webfont.eot");
	src: url("../fonts/OpenSans-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-BoldItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-BoldItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic") format("svg");
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
}




body {
	margin: 0px;
	font: 14px/1.5 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #f0e7d5;
	font-weight: normal;
	background: #252525;
	background-attachment: fixed !important;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2a2a29), color-stop(100%, #1c1c1c));
	background: -webkit-linear-gradient(#2a2a29, #1c1c1c);
	background: -moz-linear-gradient(#2a2a29, #1c1c1c);
	background: -o-linear-gradient(#2a2a29, #1c1c1c);
	background: -ms-linear-gradient(#2a2a29, #1c1c1c);
	background: linear-gradient(#2a2a29, #1c1c1c);
}

h1, h2, h3, h4, h5, h6 {
	color: #e8e8e8;
	margin: 0 0 10px;
	font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
}

p, ul, ol, table, pre, dl {
	margin: 0 0 20px;
}

h1, h2, h3 {
	line-height: 1.1;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 24px;
}

h4, h5, h6 {
	color: #e8e8e8;
}

h3 {
	font-size: 18px;
	line-height: 24px;
	font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-weight: normal;
	color: #b6b6b6;
}

a {
	color: #ffcc00;
	font-weight: 400;
	text-decoration: none;
}
a:hover {
	color: #ffeb9b;
}

a small {
	font-size: 11px;
	color: #666;
	margin-top: -0.6em;
	display: block;
}

ul {
	list-style-image: url("../images/bullet.png");
}

strong {
	font-family: 'OpenSansBold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-weight: normal;
}


section img {
	max-width: 100%;
}

blockquote {
	border-left: 3px solid #ffcc00;
	margin: 0;
	padding: 0 0 0 20px;
	font-style: italic;
}

code {
	font-family: "Lucida Sans", Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
	color: #efefef;
	font-size: 13px;
	margin: 0 4px;
	padding: 4px 6px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}

pre {
	padding: 8px 15px;
	background: #191919;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #121212;
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
	-o-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
	overflow: auto;
	overflow-y: hidden;
}
pre code {
	color: #efefef;
	text-shadow: 0px 1px 0px #000;
	margin: 0;
	padding: 0;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th {
	text-align: left;
	padding: 5px 10px;
	border-bottom: 1px solid #434343;
	color: #b6b6b6;
	font-family: 'OpenSansSemibold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-weight: normal;
}

td {
	text-align: left;
	padding: 5px 10px;
	border-bottom: 1px solid #434343;
}

hr {
	border: 0;
	outline: none;
	height: 3px;
	background: transparent url("../images/hr.gif") center center repeat-x;
}

dt {
	color: #F0E7D5;
	font-family: 'OpenSansSemibold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-weight: normal;
}

header {
	z-index: 100;
	left: 0;
	top: 0px;
	height: 60px;
	width: 100%;
	position: fixed;
	background: url(../images/nav-bg.gif) #353535;
	border-bottom: 4px solid #434343;
	-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
	-o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}
header nav {
	max-width: 650px;
	margin: 0 auto;
	padding: 0 10px;
	background: blue;
	margin: 6px auto;
}
header nav li {
	font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	list-style: none;
	display: inline;
	color: white;
	line-height: 50px;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
	font-size: 14px;
}
header nav li a {
	color: white;
	border: 1px solid #5d910b;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #93bd20), color-stop(100%, #659e10));
	background: -webkit-linear-gradient(#93bd20, #659e10);
	background: -moz-linear-gradient(#93bd20, #659e10);
	background: -o-linear-gradient(#93bd20, #659e10);
	background: -ms-linear-gradient(#93bd20, #659e10);
	background: linear-gradient(#93bd20, #659e10);
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);
	-o-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);
	background-color: #93bd20;
	padding: 10px 12px;
	margin-top: 6px;
	line-height: 14px;
	font-size: 14px;
	display: inline-block;
	text-align: center;
}
header nav li a:hover {
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #749619), color-stop(100%, #527f0e));
	background: -webkit-linear-gradient(#749619, #527f0e);
	background: -moz-linear-gradient(#749619, #527f0e);
	background: -o-linear-gradient(#749619, #527f0e);
	background: -ms-linear-gradient(#749619, #527f0e);
	background: linear-gradient(#749619, #527f0e);
	background-color: #659e10;
	border: 1px solid #527f0e;
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0);
	-o-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0);
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0);
}
header nav li.home {
	float: left;
	margin-left: 0px;
}
header nav li.home a{
	border: none;
	background: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	margin: 0;
	padding: 0;
}
header nav li.page {
	float: right;
	margin-left: 6px;
}
header nav li.title {
	float: right;
	margin-right: 10px;
	font-size: 11px;
}

.clear {clear: both;}
.foot {height: 0;}
.wrapper {
	max-width: 650px;
	margin: 0 auto;
}



#content {
	margin-top: 90px;
	max-width: 650px;
	padding: 0;
	position: relative;
}
#title {
	border: 0;
	outline: none;
	margin: 0 0 20px 0;
	padding: 0 0 5px 0;
}
#title h1 {
	font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 40px;
	text-align: center;
	line-height: 36px;
}
#title p {
	color: #d7cfbe;
	font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 18px;
	text-align: center;
}


footer {
	background:#000;
	height: 60px;
	text-align: right;
	position: relative;
	border-top: 4px solid #434343;
	background: url(../images/nav-bg.gif) #353535;
	bottom: 0;
}



footer .idl img{
	margin-top: 5px;
	margin-right: 5px;
}

#idl_alert{
position: absolute !important;
}

